[class*="__container"]{
    max-width: 1340px;
    padding: 0px 100px;
    margin: 0 auto;
}
/*  */
body{
    position: relative;
    height: 100%;
}
.header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #fff;
    z-index: 100;
}
.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 40px 0px; */
    padding-top: 20px;
    padding-bottom: 20px;
}
.menu {
    display: flex;
    align-items: center;
}
.navlist {
    order: 1;
}
.list {
    display: flex;
    align-items: center;
    gap: 40px;
}
.item {
}
.item a{
    font-family: 'DM Sans';
    font-weight: 400;
    font-size: 18px;
    line-height: 133%;
    color: #222222;
    position: relative;
}
.item a::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 2px;
    background-color: #000;
    transition: all .3s linear;
}
.item a:hover:before{
    width: 100%;
}

.logo {
}

.register__buy {
    display: flex;
    align-items: center;
    gap: 30px;
}
.buy__block {
    display: flex;
    align-items: center;
    gap: 20px;
}
.search__bar {
    background-color: #F3FBF8;
    border-radius: 50%;
}
.search__bar img{
    width: 19px;
    height: 19px;
    padding: 10px 10px 9px 10px;
}
.buy__bar {
    background-color: #F3FBF8;
    border-radius: 50%;
}
.buy__bar img{
    width: 19px;
    height: 19px;
    padding: 10px 10px 9px 10px;
}
.register__block {
}
.register__block a{
    font-family: 'DM Sans';
    font-weight: 400;
    font-size: 18px;
    line-height: 111%;
    color: #FFFFFF;
    display: inline-block;
    padding: 10px 23px;
    background-color: #09A66D;
    border-radius: 8px;
    transition: all .2s linear;
}
.register__block a:hover{
    background-color: #09a66ca8;
}

/* Burger Menu ==================================*/
.menu__burger {
    display: none;
   position: relative;
   width: 30px;
   height: 30px;
   cursor: pointer;
}
.burger__line {
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #000;
    left: 0;
    transition: all .3s linear;
}
.burger__line:nth-child(1){
    top: 7px;
}
.burger__line:nth-child(2){
    top: calc(50% - 1px);
    transform: scaleX(1);
}
.burger__line:nth-child(3){
    bottom: 7px;
}
.open__burger .burger__line:nth-child(2){
    transform: scaleX(0);
}
.open__burger .burger__line:nth-child(1){
    transform: rotate(45deg);
    top: 14px;
    
}
.open__burger .burger__line:nth-child(3){
    transform: rotate(-45deg);
    bottom: 14px;
}
/* ======================================================= */


/* ===========================================Main========================== */
.main{
}
.vegetables {
    background-color: #F3FBF8;
}
.main__container {
    padding-top: calc(149px + 90px);
    padding-bottom: 40px;
    position: relative;
}
.text__content {
    text-align: center;
    position: relative;
    z-index: 20;
}
.leaves{
    position: absolute;
    left: -20px;
    top: 110px;
    z-index: 1;
    display: inline-block;
}
.leaves img{
    max-width: 552px;
    width: 100%;
}
.text__vegetables{
}
.title {
    font-family: 'Rosario';
    font-weight: 700;
    font-size: 70px;
    line-height: 129%;
    color: #222222;
    padding-bottom: 20px;
}
.title__veg{}
.subtitle {
    font-family: 'DM Sans';
    font-weight: 400;
    font-size: 18px;
    line-height: 167%;
    color: #555555;
    display: inline-block;
}
.subtitle__veg{
    max-width: 637px;
}

.button__now {
    position: relative;
    z-index: 20;
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.button__text {
    font-family: 'DM Sans';
    font-weight: 500;
    font-size: 18px;
    line-height: 167%;
    color: #222222;
}
.button__icon {
    padding: 24.25px 16px;
    background-color: #09A66D;
    border-radius: 50%;
    transition: all .3s linear;
    border: 2px solid transparent;
}
.button__icon img{
    display: block;
    width: 32px;
    transition: all .3s linear;
}
.button__icon:hover{
    transform: scale(1.1);
}

.vegetables__content {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-between;
}
.vegetable__img{
    display: inline-block;
}
.vegetable__img img{
    width: 100%;
    max-width: 675px;
}

.vegetables__blocks {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.block__vegetable {
    background-color: #fff;
}
.block__vegetable-content{
    padding: 17px 33px;
    display: flex;
    gap: 24px;
    align-items: center;
}
.block__veg-icon {
}
.block__veg-text {
}
.block__veg-text-title {
    font-family: 'DM Sans';
    font-weight: 400;
    font-size: 48px;
    line-height: 100%;
}
.block__veg-text__subtitle {
    font-family: 'DM Sans';
    font-weight: 400;
    font-size: 18px;
    line-height: 167%;
}
/* =================== */

/* ================================== Best block================ */
.best {
}
.best__container {
    padding-top: 140px;
    padding-bottom: 140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}
.best__right-side {
    flex: 0 1 670px;
}
.text__best {
}
.title__best {
    white-space: nowrap;
    text-align: left;
}
.subtitle__best {
    text-align: left;
}


.best__block-pros {
    margin-top: 35px;
    max-width: 500px;
}
.best__block {
    padding: 40px 55px;
    display: flex;
    align-items: center;
    gap: 24px;
}

.best__block:hover{
    background-color: #F3FBF8;
} 
.best__block:hover .block-best-icon{
    background-color: #fff;
}
.block-best-icon {
    padding: 20px;
    background-color: #F3FBF8;
    border-radius: 50%;
}

.block-best-text {
}
.block-best-title {
    margin-bottom: 8px;
    font-family: 'DM Sans';
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    color: #222222;
}
.block-best-subtitle {
    font-family: 'DM Sans';
    font-size: 14px;
    line-height: 143%;
    color: #555555;
}
.best__arrow {
    text-align: center;
    padding-top: 15px;
}


.best__left-side {
}
.best__image-wrapper {
    position: relative;
}
.best__main-img img{
    max-width: 420px;
    width: 100%;
}
.best__back-line img{
    position: absolute;
    top: -20px;
    right: -90px;
    max-width: 600px;
    width: 100%;
}

/* ===============================Special ========================== */
.special {
    background-color: rgba(9, 166, 109, 0.05);
    overflow: hidden;
}
.special__container {
    display: flex;
    justify-content: space-between;
    padding-top: 88px;
    padding-bottom: 140px;
    gap: 30px;
}
.special__image {
    z-index: 3;
}
.special__image img{
    max-width: 600px;
    width: 100%;
}
.special__content {
    flex: 0 1 580px;
    position: relative;
}
.text__special {
    text-align: left;
}
.title__special {
}
.subtitle__special {
}
.button__special {
    justify-content: flex-start;
}
.button__text-special {
}
.button__icon-special {
}

.leaves__special {
    position: absolute;
    bottom: -100px;
    right: 20px;
    z-index: 1;
}


/* ===================================== Review */
.review{
}
.review__container{
    padding-top: 90px;
    padding-bottom: 90px;
}

.text__review{
}
.title__review{
    text-align: left;
    padding-bottom: 0px;
}
.block__review-container {
    
}


.block__review-content {
    width: 100%; /*========================ЧТОБЫ СДЕЛАТЬ АДАПТИВНЫЙ СЛАЙДЕР НУЖНО ШИРИНУ В % ЗАДАВАТЬ ААААААААААААААААА===========*/
    overflow: hidden;
}
.block__review-block {
    display: flex;
    width: 400%; /*========================ЧТОБЫ СДЕЛАТЬ АДАПТИВНЫЙ СЛАЙДЕР НУЖНО ШИРИНУ В % ЗАДАВАТЬ ААААААААААААААААА===========*/
    position: relative;
    left: 0;
    transition: all .3s linear;
}


.slider__block {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    align-items: center;
}
.slider__block-text {
    display: flex;
    flex-direction: column;
    gap: 40px;
    flex: 0 1 640px;
}
.slider__comment {
    font-family: 'DM Sans';
    font-weight: 400;
    font-size: 18px;
    line-height: 167%;
    color: #555555;
}
.slider__name {
    font-family: 'DM Sans';
    font-weight: 500;
    font-size: 30px;
    line-height: 120%;
    color: #222222;
}
.slider__stars{
    display: flex;
    gap: 9px;
}
.slider__block-img {
    
}
.slider__man{
}
.buttons__slider {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
}
.prev img{
    padding: 12px 8px;
}
.prev{
    cursor: pointer;
    background-color: #09A66D;
    border-radius: 50%;
}
.next {
    cursor: pointer;
    background-color: #09A66D;
    border-radius: 50%;
}
.next img{
    padding: 12px 8px;
}


/* .slider__block-small {
    position: absolute;
    bottom: 20px;
    border-radius: 12px;
    background-color: #fff;
    padding: 11px 85px 41px 20px;
    box-shadow: -15px 10px 25px rgba(0, 96, 60, 0.04);;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.slider__block-small-top {
}
.slider__block-small-bottom {
    position: relative;
}
.slider__block-small-bottom img{
    position: absolute;
    right: 0;
}
.slider__block-small-bottom img:nth-child(1){
    z-index: 1;
    left: 0;
}
.slider__block-small-bottom img:nth-child(2){
    z-index: 2;
    left: 17px;
}
.slider__block-small-bottom img:nth-child(3){
    z-index: 3;
    left: 34px;
}
.slider__block-small-bottom img:nth-child(4){
    z-index: 4;
    left: 51px;
}
.slider__block-small-bottom img:nth-child(5){
    z-index: 5;
    left: 68px;
}
.slider__block-small-bottom img:nth-child(6){
    z-index: 6;
    left: 85px;
}
.slider__block-small-bottom img:nth-child(7){
    z-index: 7;
    left: 102px;
} */



/* ================================= Order ================================== */
.order {
}
.order__container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    padding: 80px 150px 100px 130px;
}
.order__images {
    position: relative;
    padding-left: 50px;
}

.order-img-front {
    position: relative;
    z-index: 2;
}
.order-img-back {
    position: absolute;
    z-index: 1;
    left: 25px;
    top: 30px;
}

.order__content {
    flex: 0 1 662px;
}
.order__download{
    background: #F3FBF8;
    border-radius: 50px;
    display: inline-block;
    margin-bottom: 16px;
}
.order__download a{
    display: inline-block;
    font-family: 'DM Sans';
    font-size: 18px;
    line-height: 100%;
    color: #333333;
    padding: 11px 24px;
}
.text__order {
}
.title__order {
    text-align: left;
}
.subtitle__order {
    text-align: left;
    max-width: 574px;
    display: block;
}

.order__content-download {
    display: flex;
    align-items: center;
    gap: 24px;
    padding-top: 50px;
}

.order__apple {
    background-color: #000;
    padding: 4px 10.56px;
    display: flex;
    align-items: center;
    gap: 6px;
    border-radius: 5px;
}
.apple__icon {
}
.apple__text-content {
    font-family: 'DM Sans';
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: 3px;
}
.apple-text {
    font-size: 11px;
}
.apple-title {
}

.order__google {
    background-color: #000;
    padding: 4px 9.8px;
    display: flex;
    align-items: center;
    gap: 6px;
    border-radius: 5px;
}
.google__icon {
}
.google__text-content {
    font-family: 'DM Sans';
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: 3px;
}
.google-text {
    font-size: 11px;
}
.google-title {
}



/* ======================== Footer=================== */
.footer {
    background-color: #FCFEFD;
}
.footer__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 150px;
    padding-top: 66px;
    padding-bottom: 100px;
}
.footer__logo-block {
    flex: 0 1 26%;
}
.footer__logo {
    padding-bottom: 30px;
}
.footer__text {
    font-family: 'DM Sans';
    font-size: 18px;
    line-height: 167%;
    color: #555555;
}
.footer__menu {
    display: flex;
    height: 100%;
    gap: 140px;
}
.footer__nav {
}
.footer__title {
    font-family: 'DM Sans';
    font-weight: 500;
    font-size: 24px;
    line-height: 31px;
    color: #222222;
    margin-bottom: 40px;
}
.footer__list {
}
.footer__item:not(:last-child) {
    margin-bottom: 24px;
}
.footer__item a{
    font-family: 'DM Sans';
    font-size: 18px;
    line-height: 23px;
    color: #555555;
}
.footer__res {
}
.footer__cont .footer__title{
    margin-bottom: 0;
}
.footer__email {
    margin-top: 40px;
    font-family: 'DM Sans';
    font-size: 18px;
    line-height: 23px;
    margin-bottom: 24px;
}
.footer__email a{
    color: #222222;
}
.footer__social {
    display: flex;
    gap: 50px;
}